    <div class="btn-group">
        <button class="btn btn-sm add-player custom-button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add player</button>
        <button class="btn btn-sm remove-players custom-button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete All</button>
    </div>